.App{
  background-color: #032C02;
  width: 100vw;
  height: 100vh;
}

h1{
  color: #DFAC2A;
  text-align: center;
  margin: 0;
}
p{
  color: white;
  line-height: 110%;
}

.Explanation{
  border-radius: 10px;
  border: 5px solid #DFAC2A;
  margin: 5vw;
  padding: 5px;
  text-indent: 20px;
}

.CurrentGames{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.GameCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.GameCard img{
  align-self: center;
  height: 195px;
  width: 130px;
}

.GameCard p{
  align-self: center;
  text-align: center;
}

